@model Web.Models.Cotizacion.CotizacionViewModelOut

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml"; }

@section Scripts{
    <script src=@Url.Content("~/Scripts/js/angular/controller/cotizacion/cotizacionController.js")></script>
}

@{ var listaProductos = (from d in Model.Detalles
                          select d.producto).ToList().Distinct(); }
<style type="text/css">
    th {
        padding: 5px;
        text-align: center;
    }

    td {
        padding: 5px
    }

    .modalDetalle {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modalDetalle-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<h3>Detalle de Cotización</h3>
<div ng-controller="cotizacionController">
    <div style="background-color:white">
        <div class="row" style="margin-left:40px">
            <div>
                <p>
                    <table border="0" width="95%" style="font-weight:bold">
                        <tr>
                            <td Width="38%"><img src="~/Imagen/LogoITS.png" /></td>
                            <td Width="36%" Font-Bold="true" Font-Size="20px" valign="bottom">COTIZACIÓN - N° @Html.DisplayFor(model => model.Cotizacion.IdCotizacion) @Html.DisplayFor(model => model.Cotizacion.NumeroCotizacion)</td>
                            <td Width="24%"></td>
                        </tr>
                        <tr>
                            <td colspan="3">Fecha: @Html.DisplayFor(model => model.Cotizacion.Fecha)</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <tr>
                            <td Width="38%" colspan="4" align="center" style="background-color:Highlight">Datos del cliente</td>
                        </tr>
                        <tr>
                            <td>Cliente: </td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.Solicitante)</td>
                            <td Font-Bold="true" Font-Size="16px">RUC:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.RUC)</td>
                        </tr>

                        @if (Model.Cliente.empresaDomicilio == null)
                        {
                            <tr>
                                <td>Dirección legal:</td>
                                <td>@Html.DisplayFor(model => model.Cliente.titularDomicilio)</td>
                                <td Font-Bold="true" Font-Size="16px">Teléfono:</td>
                                <td>@Html.DisplayFor(model => model.Cotizacion.Telefono)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>Dirección legal:</td>
                                <td>@Html.DisplayFor(model => model.Cliente.empresaDomicilio)</td>
                                <td Font-Bold="true" Font-Size="16px">Teléfono:</td>
                                <td>@Html.DisplayFor(model => model.Cotizacion.Telefono)</td>
                            </tr>
                        }

                        <tr>
                            <td>Contacto:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.Contacto)</td>
                            <td Font-Bold="true" Font-Size="16px">Email:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.Email)</td>
                        </tr>
                        @if (Model.Cotizacion.TipoCotizacion == "AMB")
                        {
                            <tr>
                                <td>Proyecto:</td>
                                <td colspan="3">@Html.DisplayFor(model => model.Cotizacion.Proyecto)</td>
                            </tr>
                        }
                        <tr>
                            <td Width="38%" colspan="4" align="center" style="background-color:Highlight">Datos de facturación</td>
                        </tr>
                        <tr>
                            <td>Facturar a nombre de:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.Solicitante)</td>
                            <td Font-Bold="true" Font-Size="16px">RUC:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.RUC)</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="background-color:Highlight">Nos dirigimos a usted con el fin de cotizarle los servicios solicitados</td>
                        </tr>
                    </table>
                </p>

                <p>
                    <table border="0" width="95%" style="font-weight:bold">
                        <tr>
                            <td style="width:20%">Tipo de Documento Solicitado:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.TipoDocumentoSolicitado)</td>
                        </tr>
                        <tr>
                            <td>Nombre del Producto:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.DescripcionProducto)</td>
                        </tr>
                        <tr>
                            <td>Cantidad de Producto:</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.CantidadMuestra)</td>
                        </tr>
                        <tr>
                            <td>Informes de ensayo en físico:</td>
                            <td>@(Model.Cotizacion.EmisionDigital?"Si":"No")</td>
                        </tr>
                    </table>
                </p>
                <br />
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <tr>
                            <td colspan="6" align="center" style="background-color:Highlight">ENSAYOS</td>
                        </tr>
                        <tr style="background-color:Highlight;">
                            <th width="20%">Tipo de ensayo</th>
                            <th width="32%">Norma de referencia</th>
                            <th width="12%">Tipo de servicio</th>
                            <th width="12%">Precio</th>
                            <th width="12%">Cantidad</th>
                            <th width="12%">Subtotal</th>
                        </tr>
                        @foreach (var item in listaProductos)
                        {
                            <tbody>
                                <tr style="background-color:lightskyblue">
                                    <th colspan="6" style="text-align:center">@item.nombre</th>
                                </tr>
                                @{ var elementosDetalle = (from n in Model.Detalles
                                                            where n.producto.idProducto == item.idProducto
                                                            select n).ToList(); }
                                @foreach (var item2 in elementosDetalle)
                                {
                                    var subTotalDetalle = item2.productoCotizacion.Cantidad * item2.Precio;
                                    if (Model.Cotizacion.TipoCotizacion == "AMB")
                                    {
                                        <tr>
                                            <td>@item2.parametro.ParametroDescripcion</td>
                                            <td>@item2.parametro.Metodologia</td>
                                            <td>@item2.tipoParametro.TipoParametroDescripcion</td>
                                            <td>S/ @item2.Precio</td>
                                            <th width="12%">Cantidad</th>
                                            <td>S/ @subTotalDetalle</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@item2.parametro.ParametroDescripcion</td>
                                            <td>@item2.parametro.Metodologia</td>
                                            <td>@item2.tipoParametro.TipoParametroDescripcion</td>
                                            <td>&nbsp;</td>
                                            <td>@item2.productoCotizacion.Cantidad</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        }
                    </table>
                </p>
                <br />
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <thead style="background-color:Highlight">
                            <tr>
                                <th colspan="9" style="text-align:center">INSPECCION/MUESTREO</th>
                            </tr>
                            <tr>
                                <th>Producto/Proceso/Servicio/Instalación a inspeccionar/muestrear</th>
                                <th>Actividad de Inspección/Muestreo</th>
                                <th>Método/Procedimiento de Inspección/Muestreo</th>
                                <th>Documento Normativo</th>
                                <th>Plan de muestreo/Nivel/NCA</th>
                                <th>Tipo de servicio</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Inspeccion)
                            {
                                if (Model.Cotizacion.TipoCotizacion == "AMB")
                                {
                                    <tr>
                                        <td>@item.Producto</td>
                                        <td>@item.Actividad</td>
                                        <td>@item.Procedimiento</td>
                                        <td>@item.Documento</td>
                                        <td>@item.PlanMuestreo</td>
                                        <td>@item.TipoServicio</td>
                                        <td>S/ @item.Precio</td>
                                        <td>@item.Cantidad</td>
                                        <td>S/ @item.Subtotal</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@item.Producto</td>
                                        <td>@item.Actividad</td>
                                        <td>@item.Procedimiento</td>
                                        <td>@item.Documento</td>
                                        <td>@item.PlanMuestreo</td>
                                        <td>@item.TipoServicio</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </p>
                <br />
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <tr>
                            <td colspan="6" align="center" style="background-color:Highlight">CERTIFICADOS</td>
                        </tr>
                        <tr style="background-color:Highlight">
                            <th>Documento</th>
                            <th>Norma de referencia</th>
                            <th>Tipo de servicio</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        @foreach (var item in Model.Certificados)
                        {
                            if (Model.Cotizacion.TipoCotizacion == "AMB")
                            {
                                <tr>
                                    <td>@item.Documento</td>
                                    <td>@item.NormaReferencia</td>
                                    <td>@item.TipoServicio</td>
                                    <td>S/ @item.Precio</td>
                                    <td>@item.Cantidad</td>
                                    <td>S/ @item.SubTotal</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@item.Documento</td>
                                    <td>@item.NormaReferencia</td>
                                    <td>@item.TipoServicio</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                        }
                    </table>
                    * AC: Acreditado NAC: No Acreditado SUB: Subcontratado
                </p>
                <br />
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <tr>
                            <td width="20%" style="background-color:Highlight">Lugar de Inspección/Muestreo</td>
                            <td>@Model.Cotizacion.LugarInspeccionMuestreo</td>
                        </tr>
                    </table>
                </p>
                <br />
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <thead style="background-color:Highlight">
                            <tr>
                                <th>Resumen</th>
                                <th style="width:120px">Precio Unitario</th>
                                <th style="width:120px">N°</th>
                                <th style="width:120px">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 1;}
                            @foreach (var item in listaProductos)
                            {
                                var elementosDetalle = (from n in Model.Detalles
                                                        where n.producto.idProducto == item.idProducto
                                                        select n).ToList();

                                var suma = elementosDetalle.Where(x => x.producto.idProducto == item.idProducto).Sum(x => x.productoCotizacion.Cantidad * x.Precio);

                                <tr>
                                    <td>@index.- @item.descripcion</td>
                                    <td>S/ @suma</td>
                                    <td>-</td>
                                    <td>S/ @suma</td>
                                </tr>
                                index++;
                            }
                            @foreach (var item in Model.Certificados)
                            {
                                <tr>
                                    <td>@index.- @item.Documento</td>
                                    <td>S/ @item.Precio</td>
                                    <td>@item.Cantidad</td>
                                    <td>S/ @item.SubTotal</td>
                                </tr>
                                index++;
                            }
                            @foreach (var item in Model.Inspeccion)
                            {
                                <tr>
                                    <td>@index.- @item.Actividad</td>
                                    <td>S/ @item.Precio</td>
                                    <td>@item.Cantidad</td>
                                    <td>S/ @item.Subtotal</td>
                                </tr>
                                index++;
                            }
                            @foreach (var item in Model.Resumen)
                            {
                                <tr>
                                    <td>@index.- @item.Descripcion</td>
                                    <td>S/ @item.Precio</td>
                                    <td>@item.NumeroDias</td>
                                    <td>S/ @item.Total</td>
                                </tr>
                                index++;
                            }
                            <tr>
                                <td style="background-color:#fff;border-left:hidden;border-bottom:hidden">&nbsp;</td>
                                <td colspan="2" style="text-align:right"><strong>Sub - total</strong></td>
                                <td>S/ @Model.Cotizacion.SubTotal</td>
                            </tr>
                            <tr>
                                <td style="background-color:#fff;border-left:hidden;border-bottom:hidden">&nbsp;</td>
                                <td colspan="2" style="text-align:right"><strong>Descuento @Model.Cotizacion.PorcentajeDescuento %</strong></td>
                                <td>S/ @Model.Cotizacion.MontoDescuento</td>
                            </tr>
                            <tr>
                                <td style="background-color:#fff;border-left:hidden;border-bottom:hidden">&nbsp;</td>
                                <td colspan="2" style="text-align:right"><strong>Sub total final</strong></td>
                                <td>S/ @Model.Cotizacion.SubTotalFinal</td>
                            </tr>
                            <tr>
                                <td style="background-color:#fff;border-left:hidden;border-bottom:hidden">&nbsp;</td>
                                <td colspan="2" style="text-align:right"><strong>IGV</strong></td>
                                <td>S/ @Model.Cotizacion.IGV</td>
                            </tr>
                            <tr>
                                <td style="background-color:#fff;border-left:hidden;border-bottom:hidden">&nbsp;</td>
                                <td colspan="2" style="text-align:right;background-color:Highlight"><strong>Total</strong></td>
                                <td>S/ @Model.Cotizacion.Total</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <br />
                <p style="text-align:right;">
                    <table class="cssTable" border="1" width="45%" style="font-weight:bold; background-color:Highlight">
                        <tr>
                            <td width="45%">TIEMPO DE ENTREGA DE INFORME(S) Y/O CERTIFICADO(S)</td>
                        </tr>
                    </table>
                </p>
                <p style="width:95%">
                    * La impresión del informe y/o certificado se realizará a los @Html.DisplayFor(model => model.Cotizacion.DiasEntrega) días hábiles (incluido sábados), luego del ingreso de las muestras al laboratorio.
                    <br /><br />
                    <strong><u>Para Servicios de Ensayo: Solicitud de materiales y recojo de muestras</u> </strong>
                    <br />
                    * En caso de requerir materiales para la toma de muestra, le solicitamos confirmar la fecha y hora de recojo con 02 días de anticipación.
                    <BR />* En caso de requerir se recojan las muestras de sus instalaciones o agencias, pedimos realizar la solicitud con 01 día mínimo de anticipación para asegurar el análisis de parámetros perecibles dentro de los tiempos de preservación establecidos.
                    <BR />* Confirmar dichos requerimientos al correo electrónico:<strong> @Html.DisplayFor(model => model.Cotizacion.CorreoConfirmacion)</strong>
                    <BR /><strong>HORARIO DE ATENCION:</strong> De lunes a viernes de 9:00 am a 6:00 pm - sábado de 9:00am a 1:00pm, en horario corrido
                    <br /><br />
                    <strong><u>CONDICIONES DE PAGO:</u> </strong>
                    <br />
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold; background-color:yellow">
                        <tr>
                            <td>@Html.DisplayFor(model => model.Cotizacion.CondicionPago_1) @Html.DisplayFor(model => model.Cotizacion.CondicionPago_2)</td>
                        </tr>
                    </table>

                    <br />
                    El pago del servicio puede efectuarse en cualquiera de nuestras cuentas bancarias:
                    <table class="cssTable" border="1" width="95%">
                        <tr align="center" style="background-color:Highlight; font-weight:bold">
                            <td width="20%">Banco</td>
                            <td width="35%">Moneda</td>
                            <td>No. Cuenta Corriente</td>
                            <td>No. Cuenta Ahorros</td>
                            <td>Código interbancario - CCI</td>
                        </tr>
                        <tr align="center">
                            <td width="20%">@Html.DisplayFor(model => model.Cotizacion.Banco)</td>
                            <td width="35%">@Html.DisplayFor(model => model.Cotizacion.Moneda)</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.CuentaCorriente)</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.CuentaAhorro)</td>
                            <td>@Html.DisplayFor(model => model.Cotizacion.CCI)</td>
                        </tr>
                    </table>
                </p>
                <!--p style="color:red; font-weight:bold; font-size:10px; width:95%">
                    AL MOMENTO DE REALIZAR EL DEPOSITO SÍRVANSE A IDENTIFICARSE CON EL RUC DEL DEPOSITANTE PARA LA CORRECTA EMISIÓN DE LA FACTURA, CASO CONTRARIO SE EMITIRÁ UNA BOLETA DE VENTA Y NO HABRÁ LUGAR A CAMBIO.
                </p-->
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold; background-color:yellow; font-size:12px; color:red">
                        <tr>
                            <td>DETRACCIONES: @Html.DisplayFor(model => model.Cotizacion.Detracciones)</td>
                        </tr>
                    </table>
                </p>
                <br />
                <strong><u>OBSERVACIONES</u></strong>
                <p style="background-color:orange; width:95%">
                    @Html.DisplayFor(model => model.Cotizacion.Observaciones)
                </p>

                <p style="width:95%; font-size:10px; color:black">
                    El costo de envío del IE físico hasta su representada tiene un costo de 30 soles para Lima y 50 soles para Provincias. Se considera costo cero si el cliente recoge su IE* en nuestras instalaciones. *IE = Informe de Ensayo.<br />
                    El periodo de validez es de 30 dias a partir de la fecha de cotización. La empresa se reserva el derecho de actualizar la tarifa posterior al periodo antes indicado.<br />
                    Todos los servicios de ITS DEL PERU S.A.C son prestados de acuerdo en los terminos condiciones generales. Al aceptar este documento el CLIENTE confirma que acepta los terminos y condiciones generales.
                </p>

                <p style="width:95%; text-align:justify; font-size:10px; color:black">
                    <br />
                    Todo pago o abono deberá ser comunicado al siguiente correo: cobranzas@itsper.com<br />
                    <strong>CONDICIONES CONTRACTUALES PARA EMISIÓN DE INFORME DE ENSAYO:</strong>
                    <br />1) ITS el Peru S.A.C. inicia el proceso al recibir la muestra según la cotización respectiva, cuando la muestra presente alguna desviación, anomalía, informacion incompleta o no coincida con lo declarado inicialmente en su solicitud, se notificará al cliente via correo electronico para absolver la observación, en caso el cliente envíe su muestra por un tercero y éste no confirme la información, la identificación, envase, etc. de la muestra, se notificará al cliente via correo electronico para absolver la observación, en ambos casos el plazo no debe ser mayor a 24 horas. De no recibir respuesta alguna se asumirá la información contemplada en el acta de recepcion de muestras como correcta; ante cualquier observación posterior, el cliente asumirá el tiempo que implique la corrección, esto siempre y cuando proceda.
                    <br />2) Cuando el cliente solicite un reensayo: Si el resultado se encuentra dentro del rango de control de calidad, el cliente correrá con los costos que se generen(precio de lista de cada parámetro solicitado). Si el resultado no se encuentra dentro del rango de control de calidad, ITS del Peru S.A.C. asumirá el costo generado.
                    <br />3) ITS del Peru S.A.C. solo expide informes de ensayo, sobre la base de información, documentos y/o muestras suministradas por o a nombre del cliente y únicamente para beneficio del cliente quienes el responsable de actuar como lo considere conveniente sobre la base de dichos documento emitidos. ITS del Peru S.A.C. no se hace responsable por resultados incorrectos que resulten por información confusa, errónea, incompleta, desorientadora o falsa suministrada por el cliente.
                    <br />4) ITS del Peru S.A.C. tiene una política de confidencialidad, documentada en su sistema de calidad, por el cual se compromete a mantener la confidencialidad de la información y datos proporcionados por el cliente y los obtenidos en los servicios brindados; excepto cuando la autoridad reguladora lo requiera y establezca como obligación para el Organismos Evaluador de la Conformidad informarle sobre los incumplimientos a los requerimientos y normativas sanitarias y/o de calidad respecto a las inspecciones y/o ensayos realizados. En este caso el cliente será notificado por escrito, salvo que esté prohibido por ley, acerca de la información proporcionada.
                    <br />5) Si el cliente no especificara los métodos de ensayo, ITS del Peru S.A.C. podrá sugerir y aplicar los más apropiados para el servicio en particular, los mismos deben ser aceptado por el cliente al aprobar la cotizacion.
                    <br />6) En caso de requerirse subcontratar los servicios a un tercero, se realizará previa aceptación del cliente.
                    <br />7) Cualquier modificación a la Cotización inicial se hará por escrito.
                    <br />8) El Informe de Ensayo emitido por ITS del Peru S.A.C. podrá entregarse a un tercero previa autorización escrita del cliente.
                    <br />9) En caso el cliente suspenda el servicio:
                    <br />- De análisis: lo deberá realizar con un máximo de 6 hrs luego de ingresada la muestra a laboratorio, de no ser el caso deberá pagar por los análisis ya realizados.
                    <br />10) ITS del Peru S.A.C. tendrá derecho, inmediatamente y sin responsabilidad alguna, a suspender o a dar por terminada la prestación de los servicios en caso de que ocurra alguno de los siguientes eventos:
                    <br />- El cliente no ha cumplido con el compromiso de pago indicado en la Cotización.
                    <br />- El cliente presentó información errada sobre la muestra.
                    <br />11) El Informe de Ensayo emitido por ITS del Peru S.A.C. tiene el alcance y vigencia solo para el producto, muestra o lote analizado, siempre y cuando mantenga las mismas condiciones en que se realizaron los análisis, el muestreo o tma de muestra se encuentra fuera del alcance de la acreditación.
                    <br />12) No está permitido el uso del nombre de ITS del Peru S.A.C. para fines publicitarios, sin previa autorización escrita de ITS del Peru S.A.C.
                    <br />13) Si tuviese alguna queja y/o sugerencia del servicio prestado, por favor contactarse al correo electrónico: ventas@itsper.com
                    <br />14) La muestra proporcionada por el cliente al laboratorio es única, no puede ser complementada con otra muestra.
                    <br />
                    <br /><strong>CONDICIONES GENERALES PARA EL SERVICIO DE INSPECCIÓN:</strong>
                    <br />1) ITS del Peru S.A.C. es un Organismo de Inspección “TipoA” por la cual garantiza que: la organización y su personal no está comprometido con ninguna actividad que suponga un conflicto con su independencia de juicio e integridad relativa a las actividades de inspección y sin ningún tipo de presión comercial o financiera proveniente de personas u organizaciones internas o externas que pueda afectar las diversas actividades relacionadas con el servicio de Inspección. ITS del Peru S.A.C. y su personal no se encuentra relacionado con el diseño, fabricación, suministro, instalación, uso o mantenimiento, ni es instalador, comprador, propietario, usuario o mantenedor los objetos inspeccionados.
                    <br />2) En caso el cliente o la entidad legal lo solicite, ITS del Peru S.A.C. tomarán muestras dirimentes y/o contra muestras que serán custodiadas y almacenadas en condiciones ambientales controladas por un periodo de 3 meses salvo que la naturaleza del producto debido a su perecibilidad exija un periodo menor. El cliente puede solicitar la devolución de sus muestras dirimentes /o contra muestras antes de la fecha de descarte de estas por escrito, de lo contrario se procede a la eliminación segura en cumplimiento con la legislación vigente.
                    <br />3) El cliente debe brindar las facilidades necesarias para el acceso del personal a las instalaciones en donde se va realizar el servicio, asi como las facilidades que garanticen la ausencia de interrupciones durante el desarrollo del servicio.
                    <br />4) El cliente debe verificar que se tomen todas las medidas necesarias para la seguridad de las condiciones de trabajo, los sitios y las instalaciones durante la ejecución de los servicios, asi mismo debe Informar oportunamente a ITS del Peru S.A.C. acerca de los peligros y riesgos conocidos, fueren estos reales o potenciales.
                    <br />5) Toda observación de la entidad reguladora que involucre inspección adicionales, serán asumidos por el cliente.
                    <br />6) ITS del Peru S.A.C. solo expide informes y/o certificados de inspección sobre la base de información, documentos y/o resultados del servicio de inspección realizado a nombre del cliente y únicamente para beneficio del cliente, quienes el responsable de actuar como lo considere conveniente sobre la base de dichos documento emitidos. ITS del Peru S.A.C. no se hace responsable por resultados incorrectos que resulten por información confusa, errónea, incompleta, desorientadora o falsa suministrada por el cliente.
                    <br />7) ITS del Peru S.A.C. cuenta con un seguro de responsabilidad civil profesional, el cual cubre las responsabilidades derivadas de las actividades de inspección y/o reclamo acreditado que le pudiera ser atribuido, el monto no será mayor a 3 veces el costo del servicio y con un monto máximo de S/.5000.00. Entiéndase por un reclamo debidamente acreditado y avalado mediante resolución de la autoridad competente.
                    <br />
                    <br />8) ITS del Peru S.A.C. tiene una política de confidencialidad, documentada en su sistema de calidad, por el cual se compromete a mantener la confidencialidad de la información y datos proporcionados por el cliente y los obtenidos en los servicios brindados; excepto cuando la autoridad reguladora lo requiera y establezca como obligación para el Organismo Evaluador de la Conformidad informarle sobre los incumplimientos a los requerimientos y normativas sanitarias y/o de calidad respecto a las inspecciones y/o ensayos realizados. En este caso el cliente será notificado por escrito, salvo que esté prohibido porley, acerca de la información proporcionada.
                    <br />9) En caso de requerirse subcontratar una parte del servicio a un tercero, se realizará previa aceptación del cliente.
                    <br />10) Cualquier modificación a la Cotización inicial se hará por escrito.
                    <br />11) El documento emitido por ITS del Peru S.A.C. podrá entregarse a un tercero previa autorización escrita.
                    <br />12) En caso el cliente suspenda el servicio : deberá solicitarlo con un máximo de 24 hrs antes del inicio del servicio, de lo contrario deberá pagar por los gastos generados de transporte u otros.
                    <br />13) ITS del Peru S.A.C. tendrá derecho, inmediatamente y sin responsabilidad alguna, a suspender o a dar por terminada la prestación de los servicios en caso de que ocurra alguno de los siguientes eventos:
                    <br />- El cliente no ha cumplido con el compromiso de pago indicado en la Cotización.
                    <br />- El cliente no brinde las condiciones mínimas de seguridad para el personal de ITS del Peru S.A.C. en los sitios e instalaciones donde se realizará el servicio (Muestreo o Inspecciones)
                    <br />- La planta no se encuentra produciendo ( inspección de proceso) o no se encuentra el responsable de planta.
                    <br />- Desviaciones en el proceso inspeccionado o con respecto al lote, producto declarado (Puntos de corte según procedimientos internos ITS del Peru S.A.C.)
                    <br />14) El documento emitido por ITS del Peru S.A.C. (Informe o Certificado) tiene el alcance y vigencia sólo para el lote o línea de proceso sometido a inspección, siempre y cuando mantenga las mismas condiciones en que se realizó el servicio.
                    <br />15) No está permitido el uso del nombre corporativo de ITS del Peru S.A.C. para fines publicitarios, sin previa autorización escrita de ITS del Peru S.A.C.
                    <br />16) Si tuviese alguna queja, apelación y/o sugerencia del servicio prestado, por favor contactarse al correo electrónico: ventas@itsper.com
                    <br />
                    <b>CONDICIONES GENERALES DE PAGO</b><br />
                    1) En los supuestos casos de impago o morosidad, ITS DEL PERU podrá interponer las acciones que estime oportunas en defensa de sus intereses ante la jurisdicción que a su juicio pudiera resultar competente.<br />
                    2) Serán de cuenta del Cliente todos los gastos inherentes al cobro de las cantidades adeudadas, en los que ITS del Perú pudiera incurrir incluyendo los honorarios de abogado y costas judiciales.<br />
                    3) Todo Cliente con más de 60 días de morosidad, será reportando inmediatamente y sin previo aviso a las centrales de riesgo del País, hasta la cancelación total de la deuda. Todo pago deberá ser reportado
                    directamente al área de cobranzas de ITS del Perú para su descargo respectivo, siendo el correo directo del área: cobranzas@istper.com<br />
                    4) Salvo que un período de tiempo diferente haya sido establecido en la Cotización o factura, el Cliente se compromete a pagar puntualmente y no más tarde de pasados 15 días contados a partir de finalizado el
                    servicio, tiempo de finalización del servicio está indicado en el ítem TIEMPO DE ENTREGA DE INFORME(S) Y/O CERTIFICADO(S) de la cotización. De no efectuarse el pago en la fecha estipulada, el Cliente se
                    compromete expresamente a pagar intereses de demora a favor de ITS DEL PERU al tipo del 1.5% mensual (o aquél que haya sido establecido en la propia factura) a partir de la fecha de vencimiento y hasta
                    (incluido) la fecha en que el pago haya sido efectivamente realizado.<br />
                </p>
                <br />
                <p>
                    Atentamente
                    <br /><strong>@Model.NombreUsuario</strong>
                    <br />Area Comercial
                    <br />ITS del Perú S.A.C.
                    <br />Telf. (01) 7504454
                    <br /><a href="http://www.itsper.com">www.itsper.com</a>
                </p>
                <p>
                    <table class="cssTable" border="1" width="95%" style="font-weight:bold">
                        <tr>
                            <td colspan="6" align="center" style="background-color:Highlight">Razón social: Inspection & Testing Services del Perú S.A.C.<br />RUC: 20602034675</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <table class="cssTable" width="95%">
                        <tr>
                            <td colspan="6" align="center">
                                Domicilio fiscal: Mza. D1 Lote. 27 Otr. Comerciantes y Artesanos (Av. Wiesse 3840 - cruce con Av. Sta. Rosa) Lima - Lima - San Juan de Lurigancho<br />
                                Sucursal: Av. Central Mza. L Lote. 15 APV. SV Programa Ciudad Mariscal Caceres 3era y 4ta Etapa Sector I Lima - Lima - San Juan de Lurigancho<br />
                                Telf.: 01 750-4454 Cel: 955248222
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <br />
    <p style="width:95%; text-align:center">

        @Html.ActionLink("Editar", "Edit", new { id = Model.Cotizacion.ID }, new { @class = "btn btn-sm btn-primary" }) |
        @Html.ActionLink("Imprimir", "PrintCotizacion", new { id = Model.Cotizacion.ID }, new { @class = "btn btn-sm btn-primary" }) |
        @if (string.IsNullOrEmpty(Model.Cotizacion.SerieNumero))
        {
            <a id="linkRegistrarComprobante" ng-click="registrarComprobante(@Model.Cotizacion.ID)" class="btn btn-sm btn-primary">Generar factura</a>
        }
        else
        {
            @Html.ActionLink("Registrar cobranza", "Payment", new { id = Model.Cotizacion.ID }, new { @class = "btn btn-sm btn-primary" })
        }
        @Html.ActionLink("Regresar a Listado", "Index", null, new { @class = "btn btn-sm btn-danger cancelar" })
    </p>
    <div id="myModal" class="modalDetalle">
        <div class="modalDetalle-content">
            <span class="close">&times;</span>
            <p>Se está registrando el comprobante, esta acción tomará unos segundos...</p>
        </div>
    </div>
</div>