@model IEnumerable<Web.Models.Cotizacion.Cotizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section scripts{
    <script src=@Url.Content("~/Scripts/js/angular/controller/documento/documentoController.js")></script>
}

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">MÓDULO DE COTIZACIONES</h3>
        </div>
        <!-- BODY -->
        <div class="box-body">
            <div ng-controller="documentoController" ng-cloak>
                <div class="table-responsive">
                    <div class="input-small formulario-mediano col-md-7 table-options">
                        <p>
                            @Html.ActionLink("Crear Nueva Cotización", "Create", null, new { @class = "btn btn-sm btn-primary" })
                        </p>
                    </div>

                    <table dt-options="dtOptions" dt-column-defs="elementos.dtColumnDefs" class="row-border hover table table-striped table-bordered tabla-bandeja">
                        <tr>
                            <th>OpcionesCotización</th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoCotizacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumeroCotizacion)
                            </th>
                            <th>
                                Factura
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Solicitante)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RUC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contacto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoDocumentoSolicitado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DescripcionProducto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CantidadMuestra)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>SubTotal</th>
                            <th>IGV</th>
                            <th>Total</th>
                            <th>DiasEntrega</th>
                            <th>
                                @Html.DisplayNameFor(model => model.CorreoConfirmacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CondicionPago_1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CondicionPago_2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Banco)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Moneda)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CuentaCorriente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CuentaAhorro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CCI)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detracciones)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="right">
                                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit btn btn-xs btn-warning" })
                                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-eye-open btn btn-sm btn-primary" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash btn btn-xs btn-danger" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoCotizacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumeroCotizacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerieNumero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Solicitante)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RUC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contacto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoDocumentoSolicitado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescripcionProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CantidadMuestra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @item.SubTotal
                                </td>
                                <td>
                                    @item.IGV
                                </td>
                                <td>
                                    @item.Total
                                </td>
                                <td>
                                    @item.DiasEntrega
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorreoConfirmacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CondicionPago_1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CondicionPago_2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Banco)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Moneda)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuentaCorriente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuentaAhorro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CCI)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detracciones)
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</section>