@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@*@section scripts{

    <script src=@Url.Content("~/Scripts/js/angular/controller/admin/adminController.js")></script>
}*@

<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">CREAR USUARIO</h3>
        </div>
        <!--body -->
        <div class="box-body">
            <div class="col-md-12 formulario-mediano">
                <div class="form-horizontal col-md-12">
                    <br />
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })                        
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Nombre</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Apellidos</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Teléfono</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">E-mail</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>                        
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Contraseña</label>
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Conf. Contraseña</label>
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Rol</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.RoleName, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" class="btn btn-sm btn-primary" value="GUARDAR" /> 
                                @Html.ActionLink("CANCELAR", "ViewUser", null, new { @class = "btn btn-sm btn-danger cancelar" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>
